@import "@pittica/scss-functions";

.section-cart {
  .injected-svg {
    ellipse {
      opacity: 0;
    }
    .cart {
      transform: translate3d(-120%, 120%, 0);
    }
    .monitor {
      transform: translate3d(0, -120%, 0);
    }
  }
  &.is-active {
    .injected-svg {
      ellipse {
        @include animate(fade-quarter, 0.5s, 0.4s, linear, 1);
      }
      .cart {
        @include animate(from-bottom-left, 0.7s, 0, linear, 1);
      }
      .monitor {
        @include animate(from-top, 0.2s, 0.1s, linear, 1);
      }
      .letters {
        @include animate(fading-light, 2.5s, 0, linear, infinite);
      }
    }
  }
}
