@import "@pittica/scss-functions";

.section-kpi {
  .injected-svg {
    ellipse,
    circle,
    .spotlight,
    .shadow {
      opacity: 0;
    }
    .numbers {
      transform: translate3d(120%, 120%, 0);
    }
    .dashes,
    .lines,
    .dart {
      transform: translate3d(-120%, 120%, 0);
    }
    .pipe,
    .letter {
      transform: translate3d(0, -120%, 0);
    }
    .arrow {
      transform: scale(0, 1);
      transform-origin: center;
    }
  }
  &.is-active {
    .injected-svg {
      ellipse,
      circle,
      .spotlight {
        @include animate(fade-quarter, 0.5s, 0.4s, linear, 1);
      }
      .numbers {
        @include animate(from-bottom-right, 0.6s, 0.4s, linear, 1);
      }
      .dashes {
        @include animate(from-bottom-left, 0.6s, 0s, linear, 1);
      }
      .lines {
        @include animate(from-bottom-left, 0.5s, 0.2s, linear, 1);
      }
      .chart {
        .pipe-1 {
          @include animate(from-top, 0.6s, 0.2s, linear, 1);
        }
        .pipe-2 {
          @include animate(from-top, 0.6s, 0.3s, linear, 1);
        }
        .pipe-3 {
          @include animate(from-top, 0.6s, 0.4s, linear, 1);
        }
        .pipe-4 {
          @include animate(from-top, 0.6s, 0.5s, linear, 1);
        }
        .pipe-5 {
          @include animate(from-top, 0.6s, 0.6s, linear, 1);
        }
        .pipe-6 {
          @include animate(from-top, 0.6s, 0.7s, linear, 1);
        }
      }
      .shadow {
        &.shadow-1 {
          @include animate(fade-in, 0.6s, 0.7s, linear, 1);
        }
        &.shadow-2 {
          @include animate(fade-in, 0.6s, 0.65s, linear, 1);
        }
        &.shadow-3 {
          @include animate(fade-in, 0.6s, 0.6s, linear, 1);
        }
        &.shadow-4 {
          @include animate(fade-in, 0.6s, 0.55s, linear, 1);
        }
      }
      .arrow {
        &.arrow-1 {
          @include animate(vertical-scale, 0.6s, 0.7s, linear, 1);
        }
        &.arrow-2 {
          @include animate(vertical-scale, 0.6s, 0.65s, linear, 1);
        }
        &.arrow-3 {
          @include animate(vertical-scale, 0.6s, 0.6s, linear, 1);
        }
      }
      .letter {
        &.letter-1 {
          @include animate(from-top, 0.5s, 0.3s, linear, 1);
        }
        &.letter-2 {
          @include animate(from-top, 0.5s, 0.4s, linear, 1);
        }
        &.letter-3 {
          @include animate(from-top, 0.5s, 0.5s, linear, 1);
        }
        &.letter-4 {
          @include animate(from-top, 0.6s, 0.6s, linear, 1);
        }
      }
      .dart {
        &.dart-1 {
          @include animate(from-bottom-left, 0.5s, 0.5s, linear, 1);
        }
        &.dart-2 {
          @include animate(from-bottom-left, 0.5s, 0.55s, linear, 1);
        }
        &.dart-3 {
          @include animate(from-bottom-left, 0.5s, 0.6s, linear, 1);
        }
        &.dart-4 {
          @include animate(from-bottom-left, 0.6s, 0.7s, linear, 1);
        }
      }
    }
  }
}
